.container {
  width: 332px;
  min-height: max-content;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  top: 55px;
}

